<?xml version="1.0" encoding="ISO-8859-1"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/task/spring-context-3.0.xsd">
 
    <!-- Basic Configurations -->
    <context:annotation-config/>
 
    
    <context:component-scan base-package="br.org.fepb.electra.modelo"/>
    <context:component-scan base-package="br.org.fepb.electra.controladores"/>
    <context:component-scan base-package="br.org.fepb.electra.servicos"/>
    <context:component-scan base-package="br.org.fepb.electra.repositorios"/>
    <context:component-scan base-package="br.org.fepb.electra.enuns"/>
    <context:component-scan base-package="br.org.fepb.electra.util"/>
 
    <!-- SpringData -->
    <import resource="spring-jpa.xml"/>
 
    <!-- SpringSecurity -->
    <!--  import resource="spring-security.xml"/-->
</beans>
